@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    
}

@mixin flex-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

@mixin flex-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@mixin btn-style {
    background: $Light-Blue;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

body{
    @include flex-1;
    height: 100vh;
    background: $Very-Dark-Blue;
    color: $White;
    font-size: 15px;
}

.container{
    width: 400px;
    height: 360px;
    background: $Medium-Dark-Blue;
    padding: 28px;
    border-radius: 25px;

    .rating-div{
        // display: none;

            .svg-div{
                @include flex-1;
                @include btn-style;
            }

            h1{
                margin-top: 15px;
            }

            p{
                margin-top: 10px;
                color: $Light-Grey;
            }

            .btn-div{
                margin: 25px 0;
                @include flex-2;
                justify-content: space-between;
                padding-right: 15px;


                button{
                    height: 45px;
                    width: 45px;
                    border-radius: 50%;
                    @include btn-style;
                    color: $Light-Grey;
                    border: none;
                    cursor: pointer;
                    
                    &:hover{
                        background-color: $Orange;
                    }

                    &:focus{
                        background-color: $Medium-Grey;
                    }
                }

            }

            .submit-btn{
                height: 40px;
                width: 100%;
                border-radius: 50px;
                background: $Orange;
                color: $White;
                cursor: pointer;
        
        
                &:hover{
                    background: $White;
                    color: $Orange;
                }
            }

    }


    .thank-div{
        @include flex-1;
        display: none;
        

            h5{
                margin: 25px 0;
                background: $Light-Blue;
                padding: 10px 15px;
                border-radius: 25px;
                color: $Orange;
            }

            p{
                margin-top: 15px;
                padding-right: 5px;
                text-align: center;
            }


    }

    .rating-div.close{
        display: none;
    }

    .thank-div.active{
        display: flex;
    }

}

@media screen and (max-width: 400px) {
    .container{
        width: 90%;
        height: 370px;
    }
}